<div class="container intro" *ngIf="!viewCountry && !isAddMode && !isEditMode">
    <div class="gradient-custom-1 h-100 inner-container">
        <div class="text-center mb-5 pt-5">
            <h3>List of Country</h3>
        </div>
        <div class="mb-3">
            <button class="btn btn-sm my-btn" (click)="addCountry()">Add Country</button>
        </div>
        <div class="table-responsive"> <!-- Move the class to this div -->
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Name</th>
                        <th scope="col">Country Code</th>
                        <th scope="col">ISO Code</th>
                        <th scope="col">Call Code</th>
                        <th scope="col">Action</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countryData">
                        <td>{{country.name}}</td>
                        <td>{{country.countryCode}}</td>
                        <td>{{country.iSOCode}}</td>
                        <td>{{country.callCode}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn my-btn btn-sm" (click)="expandMenu()">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ng-container *ngIf="isExtended">
                                    <div class="action-list">
                                        <ul style="list-style-type: none;">
                                            <li class="action-list-content" (click)="deleteCountry(country.id)">Delete
                                            </li>
                                            <li class="action-list-content" (click)="editCountry(country.id)">Edit</li>
                                            <li class="action-list-content" (click)="viewDetail(country.id)">View Detail
                                            </li>
                                        </ul>
                                    </div>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Create Country section -->
<div class="container p-5 intro gradient-custom-1" *ngIf="isAddMode || isEditMode">
    <div class="add-form-card card">
        <div class="text-center mb-3 card-header " style="border: none;">
            <h3>{{ isEditMode ? 'Edit Country' : 'Add Country' }}</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)="isAddMode ? createCountry() : updateCountry()">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:<span style="color: red;">*</span></label>
                    <input style="background: transparent;" type="text" class="form-control" id="name" name="name"
                        [(ngModel)]="country.name" required >
                </div>
                <div class="mb-3">
                    <label for="countryCode" class="form-label">Country Code:<span style="color: red;">*</span></label>
                    <textarea style="background: transparent;" id="countryCode" class="form-control" name="countryCode"
                        [(ngModel)]="country.countryCode" required ></textarea>
                </div>

                <div class="mb-3">
                    <label for="iSOCode" class="form-label">ISO Code:<span style="color: red;">*</span></label>
                    <textarea style="background: transparent;" id="iSOCode" class="form-control" name="iSOCode"
                        [(ngModel)]="country.iSOCode" required ></textarea>
                </div>

                <div class="mb-3">
                    <label for="callCode" class="form-label">Call Code:<span style="color: red;">*</span></label>
                    <textarea style="background: transparent;" id="callCode" class="form-control" name="callCode"
                        [(ngModel)]="country.callCode" required ></textarea>
                </div>
                <button type="submit" class="btn btn-md my-btn">{{ isEditMode ? 'Update' : 'Add' }}</button>
            </form>
            
        </div>
    </div>
</div>

<!-- View detail page -->
<div class="container mt-5" *ngIf="viewCountry && isLoaded && !isAddMode && !isEditMode">
    <div class="card gradient-custom-1 detail-card">
        <div class="card-body">
            <dl>
                <dt>
                    <h3>{{countryData.name}}</h3>
                </dt>
                <dd>{{countryData.countryCode}}</dd>
                <dd>{{countryData.iSOCode}}</dd>
                <dd>{{countryData.callCode}}</dd>
                <dd>
                    <p class="info-text">Created On {{countryData.dateCreated | date}} by
                        {{countryData.creator.name}}</p>
                </dd>
            </dl>
        </div>
    </div>