<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">LMS</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="#" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline"> Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="domain" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-globe-central-south-asia"></i>
                <span class="ms-1 d-none d-sm-inline"> Domain</span></a>
        </li>
        <li class="nav-item">
            <a href="sector" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-building"></i>
                <span class="ms-1 d-none d-sm-inline"> Sector</span></a>
        </li>
        <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-journal-text"></i>
                <span class="ms-1 d-none d-sm-inline" [routerLink]="['/course']"> Course </span>
                <i class="bi bi-chevron-down"></i>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                <li class="w-100">
                    <a href="lesson" class="nav-link px-0"> <span class="d-none d-sm-inline"><i
                                class="bi bi-clipboard"></i> Lesson</span></a>
                </li>
                <li>
                    <a href="topic" class="nav-link px-0"> <span class="d-none d-sm-inline"><i
                                class="bi bi-lightbulb"></i> Topic</span></a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="country" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-globe-central-south-asia"></i>
                <span class="ms-1 d-none d-sm-inline"> Country</span></a>
        </li>
        <li class="nav-item">
            <a href="state" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-pin-map-fill"></i>
                <span class="ms-1 d-none d-sm-inline"> State</span></a>
        </li>
        <li class="nav-item">
            <a href="yesno" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-question-lg"></i>
                <span class="ms-1 d-none d-sm-inline"> Yes / No </span></a>
        </li>
        <li class="nav-item">
            <a href="faq" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-patch-question"></i>
                <span class="ms-1 d-none d-sm-inline"> FAQ</span></a>
        </li>
        <li class="nav-item">
            <a href="Currency" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline"> Currency</span></a>
        </li>
        <li class="nav-item">
            <a href="vocabulary" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline"> vocabulary</span></a>
        </li>

        <li class="nav-item">
            <a href="Skill" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline"> skill</span></a>
        </li>
        <li class="nav-item">
            <a href="Learning Path" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline"> Learning Path</span></a>
        </li>
        <li class="nav-item">
            <a href="designation" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline">Designation</span></a>
        </li>
        <li class="nav-item">
            <a href="assessment" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline">Assessment</span></a>
        </li>
        <li class="nav-item">
            <a href="assessment-type" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline">Assessment Type</span></a>
        </li>
        <li class="nav-item">
            <a href="assessment-level" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline">Assessment Level</span></a>
        </li>
        <li class="nav-item">
            <a href="assessment photo" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline">Assessment photo</span></a>
        </li>
        <li class="nav-item">
            <a href="note" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline">Note</span></a>
        </li>
        <li class="nav-item">
            <a href="Topic Status" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline">Topic Status</span></a>
        </li>
        <li class="nav-item">
            <a href="Question Set" class="nav-link px-0 align-middle">
                <i class="fs-4 bi bi-cash"></i>
                <span class="ms-1 d-none d-sm-inline">Question Set</span></a>
        </li>

    </ul>
</div>