<div class="container intro" *ngIf="!viewSector && !isAddMode && !isEditMode && isLoaded">
    <div class="gradient-custom-1 h-100 inner-container">
        <div class="text-center mb-5 pt-5">
            <h3>List of States</h3>
        </div>
        <div class="mb-3">
            <button class="btn btn-sm my-btn" (click)="addState()">Add State</button>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="">
                        <th scope="col-2">Country</th>
                        <th scope="col-5">State</th>
                        <th scope="col-3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let state of stateData">
                        <td>
                            <ng-container *ngIf="state.country">
                                {{ state.country.name }}
                            </ng-container>
                        </td>
                        <td>{{state.name}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn my-btn btn-sm" (click)="expandMenu()">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ng-container *ngIf="isExtended">
                                    <div class="action-list">
                                        <ul style="list-style-type: none;">
                                            <li (click)="editState(state.id)">Edit</li>
                                            <li (click)="viewDetail(state.id)">View Detail</li>
                                            <li (click)="deleteState(state.id)">Delete</li>
                                        </ul>
                                    </div>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Create Sector section -->
<div class="container p-5 intro gradient-custom-1" *ngIf="isAddMode || isEditMode">
    <div class="add-form-card card">
        <div class="text-center mb-3 card-header " style="border: none;">
            <h3>{{ isEditMode ? 'Edit State' : 'Add State' }}</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)="isAddMode ? createState() : updateState()">
                <div class="mb-3">
                    <label for="country" class="form-label">Country :<span style="color: red;">*</span></label>
                    <select id="country" style="background: transparent;" class="form-select" aria-label="Select Country"
                        [(ngModel)]="state.country.id" [ngModelOptions]="{ standalone: true }" required>
                        <option selected>Open this select menu</option>
                        <option style="background: transparent;" *ngFor="let country of countryData"
                            [value]="country.id">
                            {{ country.name }}
                        </option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="state" class="form-label">Name:<span style="color: red;">*</span></label>
                    <input style="background: transparent;" type="text" class="form-control" id="state" name="name"
                        [(ngModel)]="state.name" required>
                </div>
                
                <button type="submit" class="mt-3 btn btn-md my-btn">{{ isEditMode ? 'Update' : 'Add' }}</button>
            </form>
        </div>
    </div>
</div>

<!-- View detail page -->

<div class="container mt-5" *ngIf="viewSector && isloaded && !isAddMode && !isEditMode">
    <div class="card gradient-custom-1 detail-card">
        <div class="card-body">
            <dl>
                <dt>
                    <h3>{{stateData.name}}</h3>
                </dt>
                <dd>Country:{{countryData.name}}</dd>
                <!-- <dd>
                    <p class="info-text">Created On {{sectorData.dateCreated}} by
                        {{sectorData.creator.name}}</p>
                </dd> -->
            </dl>
        </div>
    </div>
</div>